@import url('FONTS.css');

body {
  background: linear-gradient(rgba(0, 49, 7, 0.5), rgba(0, 0, 0, 0.6)), url(IMAGES/ptcfront.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  background-color: #0078ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #2c2c2c;
  width: 340px;
  text-align: center;
}

h2 {
  font-family: 'HDcolton';
  margin-bottom: 10px;
}

.instruction {
  font-family: 'CreatoLight';
  font-size: 14px;
  color: #444;
  margin-bottom: 25px;
}

h5 {
  font-family: 'CreatoLight';
  text-align: left;
  margin: 0 0 5px 0;
}

.email {
  margin-bottom: 20px;
  font-family: 'CreatoLight';
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'CreatoLight';
}

button {
  font-family: 'CreatoBold';
  width: 100%;
  padding: 14px;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 15px;
  transition: background 0.3s ease;
}

button:hover {
  background: #005dc1;
}

.link {
  text-align: center;
  margin-top: 15px;
  font-family: 'CreatoBold';
  font-size: 15px;
}

.link a {
  color: #0078ff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
